.banner{
    background: url(to/blake-connally-IKUYGCFmfw4-unsplash.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 40%;
    padding-bottom: 30%;
    color: #ffffff;
}

.footer{
    padding-top: -500px;

}

